.placeholder-avatar {
  display: inline-block;
  background-color: $primary-low;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.placeholder-text {
  display: inline-block;
  background-color: $primary-low;
  width: 100%;
  height: 1.5em;
  margin-bottom: 0.6em;
}

.names {
 float: left;

 span.first {
   font-weight: bold;
 }

 span {
   font-size: 0.929em;
   padding-right: 8px;
   display: inline-block;
   max-width: 280px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   a {
     color: dark-light-choose(scale-color($primary, $lightness: 30%), scale-color($secondary, $lightness: 70%));
   }
 }
 .fa {
   font-size: 11px;
   margin-left: 3px;
   color: dark-light-choose(scale-color($primary, $lightness: 40%), scale-color($secondary, $lightness: 60%));
 }
  .new_user a, .user-title, .user-title a {
    color: dark-light-choose(scale-color($primary, $lightness: 50%), scale-color($secondary, $lightness: 50%));
 }
}

// global styles for the cooked HTML content in posts (and preview)
.cooked, .d-editor-preview {
  word-wrap: break-word;
  h1, h2, h3, h4, h5, h6 { margin: 30px 0 10px; }
  h1 { line-height: 1em; } /* normalize.css sets h1 font size but not line height */
  a { word-wrap: break-word; }
  ins { background-color: dark-light-choose(scale-color($success, $lightness: 90%), scale-color($success, $lightness: -60%)); }
  del { background-color: dark-light-choose(scale-color($danger, $lightness: 90%), scale-color($danger, $lightness: -60%)); }
}


.cooked, .d-editor-preview {
  video {
    max-width: 100%;
  }
  sup sup {
    top: 0;
  }
}
// we use aside to hold expandable quotes (versus, say, static blockquotes)
aside.quote {
  margin-top: 1em;
  margin-bottom: 1em;

  .badge-wrapper { margin-left: 5px; }

  .title {
    @include post-aside;

    color: dark-light-choose(scale-color($primary, $lightness: 30%), scale-color($secondary, $lightness: 70%));
    // IE will screw up the blockquote underneath if bottom padding is 0px
    padding: 12px 12px 1px 12px;
    // blockquote is underneath this and has top margin
    .avatar { margin-right: 7px; }
    img { margin-top: -4px; }
    @include unselectable;
  }

  // blockquote is docked within aside for content
  blockquote {
    margin-top: 0;
  }
}

.quote-controls, .quote-controls .back:before, .quote-controls .quote-other-topic:before {
  color: dark-light-choose(scale-color($primary, $lightness: 70%), scale-color($secondary, $lightness: 30%));
}

.cooked .highlight {
  background-color: $tertiary-low;
  padding: 2px;
  margin: -2px;
}

.post-action {
  .undo-action, .act-action{
    margin-left: 5px;
  }
}

.post-hidden {
  opacity: 0.5;
}

.topic-post.staged {
  opacity: 0.4;
}


.quote-controls {
  float: right;
  a {
    margin: 0;
  }

  .back:before, .quote-other-topic:before
  {
    display: inline-block;
    margin-left: 8px;
    font-family: "FontAwesome";
    position: relative;
    z-index: 20;
    content: "\f062";
  }

  .quote-other-topic:before
  {
    content: "\f061";
  }
}

.quote-button {
  display: none;
  position: absolute;
  background-color: blend-primary-secondary(50%);
  color: dark-light-choose($secondary, $primary);
  padding: 10px;
  z-index: 401;
  opacity: 0.9;

  &:before {
    font-family: "FontAwesome";
    content: "\f10d\00a0\00a0";
  }

  &:hover {
    background-color: $primary-medium;
    cursor: pointer;
  }
}

.topic-avatar, .user-card-avatar {
  position: relative;
}

.topic-avatar, .avatar-flair-preview, .user-card-avatar, .topic-map .poster {
  .avatar-flair {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: -6px;
  }
}
.topic-avatar .avatar-flair, .avatar-flair-preview .avatar-flair {
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  &.rounded {
    background-size: 18px 18px;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    bottom: -2px;
    right: -8px;
  }
}
.user-card-avatar .avatar-flair {
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  &.rounded {
    background-size: 30px 30px;
    border-radius: 24px;
    width: 40px;
    height: 40px;
    bottom: -2px;
    right: -4px;
  }
  .fa {
    font-size: 24px;
  }
}
.topic-map .poster .avatar-flair {
  right: 0;
  background-size: 12px 12px;
  width: 16px;
  height: 16px;
  bottom: -3px;
  &.rounded {
    background-size: 12px 12px;
    border-radius: 8px;
    width: 16px;
    height: 16px;
    bottom: -2px;
    right: 0;
  }
  .fa {
    font-size: 14px;
  }
}
.topic-avatar .poster-avatar-extra {
  display: none;
}

.topic-body {
  // this is necessary for ANYTHING that extends past the right edge of
  // the post body, such as an image in a deeply nested list, image in
  // a deeply nested blockquote, and so on.. you get the idea.
  .contents .cooked {
    overflow: hidden;
  }
  &.highlighted {
    animation: background-fade-highlight 2.5s ease-out;
  }
}

// this ensures consistent top margin on topic posts even if the first line of a post
// is a top-margin-less element like a list or image.
.topic-body .regular {
  margin-top: 15px;
}

.post-info {
  &.via-email, &.whisper {
    margin-right: 5px;
    i.fa {
      font-size: 1em;
    }
  }

  .wiki {
    color: green !important;
  }

  &.via-email {
    color: dark-light-choose(scale-color($primary, $lightness: 70%), scale-color($secondary, $lightness: 30%));
  }
  &.raw-email {
    cursor: pointer;
  }
}

pre {
  code {
    word-wrap: normal;
    display: block;
    padding: 5px 10px;
    color: $primary;
    background: blend-primary-secondary(5%);
    max-height: 500px;
  }
}

kbd
{
  background-color: $secondary;
  border: 1px solid $primary-low;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0, .8);
  color: $primary;
  display: inline-block;
  font-size: 0.857em;
  line-height: 1.4;
  margin: 0 .1em;
  padding: .1em .6em;

  // don't allow more than 3 nested elements to prevent FF from crashing
  // cf. http://what.thedailywtf.com/t/nested-elements/7927
  // 3 levels are needed to prevent highlighted words being hidden
  // cf. https://meta.discourse.org/t/word-disappears-when-searched-and-in-details-summary-kbd-b/25741
  * * * { display: none; }
}

// we assume blockquotes have their own margins, so all blockquotes
// will remove margins from first (top) and last (bottom) child elements
blockquote > *:first-child {
  margin-top: 0 !important;
}
blockquote > *:last-child {
  margin-bottom: 0 !important;
}

.gap {
  padding: 0.25em 0 0.5em 4.3em;
  color: dark-light-choose(scale-color($primary, $lightness: 60%), scale-color($secondary, $lightness: 40%));
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
}

.who-liked {
  transition: height 0.5s;
  a {
    margin: 0 0.25em 0.5em 0;
    display: inline-block;
  }
}


.cooked table, .d-editor-preview table {
  thead {
    border-bottom: 2px solid lighten($primary, 80%);
    th {
      text-align: left;
      padding-bottom: 2px;
    }
  }

  td,th {
    padding: 3px 3px 3px 10px;
  }
  tr {
    border-bottom: 1px solid lighten($primary, 80%);
  }
}

.small-action {
  .topic-avatar {
    padding: 5px 0 3px;
    border-top: none;
    float: left;
    i {
      font-size: 35px;
      width: 45px;
      text-align: center;
      color: dark-light-choose(scale-color($primary, $lightness: 75%), scale-color($secondary, $lightness: 25%));
    }
  }

  .small-action-desc.timegap {
      color: dark-light-choose(scale-color($primary, $lightness: 60%), scale-color($secondary, $lightness: 40%));
  }
  .small-action-desc {
    padding: 0.25em 0 0.5em 4.3em;
    margin-top: 6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    color: dark-light-choose(scale-color($primary, $lightness: 75%), scale-color($secondary, $lightness: 25%));

    .custom-message {
      text-transform: none;
      margin: 15px 0px 5px;
      font-weight: normal;
      font-size: 14px;
      p {
        margin: 5px 0;
      }
    }

    .avatar {
      margin-right: 0.8em;
      float: left;
    }

    > p {
      margin: 0;
      padding-top: 4px;
    }
  }

  button {
    background: transparent;
    border: 0;
    float: right;
  }

  clear: both;
}

.whisper {
  .post-info.whisper {
    margin-left: 0.5em;
  }
  .topic-body {
    .cooked {
      font-style: italic;
      color: $primary-medium;
    }
  }
}

a.mention, a.mention-group {
  padding: 2px 4px;
  color: $primary;
  background: $primary-low;
  border-radius: 8px;
  font-weight: bold;
  font-size: 0.93em;
}

.popup-menu {
  h3 {
    margin-top: 0;
  }
}

#suggested-topics {
  .topics {
    padding-bottom: 15px;
  }
}
